body {
    background-color: #e7e6e1;
}

header {
    text-align:center;
    margin-top: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #314e52;
    font-style: unset;
    margin-bottom: 50px;
}

aside {
    background-color: #a4ebf3;
    text-align: center;
}

section {
    background-color: #ccf2f4;

}

.row {
    --bs-gutter-x: 0;
    margin-bottom: 50px;
}

.btn {
    margin: 10px;
}

#testQuestion {
    text-align: center;
    font-size: 2rem;
}

#helper {
    text-align: center;
    background-color: #e7e6e1;
    margin-bottom: 20px;
}